@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700');

@font-face {
    font-family: 'ProximaNova-Black';
        src: local('ProximaNova-Black'), url('../fonts/proximanova-black.woff');
    }

* {
    margin: 0;
    padding: 0;
}

body {
    background: #070506 url("../img/main-bg.jpg");
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1060px;
    margin: auto;
    margin-top: 90px;
}

.header {
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: 70px;
}
.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}

.hero {
    margin-top: 80px;
}
.hero__subtitle {
    display: block;
    font-family: 'ProximaNova-Black', sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
}
.hero__title {
    margin-top: 5px;
    font-family: 'ProximaNova-Black', sans-serif;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px
}
.hero__description {
    margin-top: 25px;
    width: 572px;
    font-size: 18px;
    line-height: 150%;
    color: #AFAFAF;
}
.hero__release {
    margin-top: 25px;
    display: block;
    font-size: 18px;
    line-height: 150%;
    color: #B02000;
}
.hero__date {
    margin-top: 5px;
    margin-bottom: 45px;
    display: block;
    font-size: 24px;
    line-height: 150%;
}
.hero__button-play {
    position: relative;
    padding: 25px 35px;
    padding-right: 80px;
    border: none;
    border-radius: 300px;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;

    color: #fff;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
}
.hero__button-play::before {
    content: '';
    position: absolute;
    right: -8px;
    top: -8px;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}
.hero__button-play::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #fff url('../img/play.svg') center no-repeat;
}

.episodes__title {
    margin-top: 60px;
    margin-bottom: 24px;

    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
}
.slider {
    display: flex;
    flex-wrap: wrap;
}
.slider__item {
    width: 190px;
    min-height: 190px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 30px;

    background: linear-gradient(0deg,
        rgba(80, 80, 80, 0.86),
        rgba(80, 80, 80, 0.86));
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.slider__title {
    margin-top: 5px;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
}
