* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #070506;
    color: #fff;
}

.container {
    margin-top: 90px;
    width: 1060px;
    text-align: center;
}

.logo {
}

.nav__link {
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
}